In [1]:
lst=['abc','xyz','pqr']

In [2]:
lst

['abc', 'xyz', 'pqr']

In [3]:
lst.append('ijk')

In [4]:
lst

['abc', 'xyz', 'pqr', 'ijk']

In [5]:
lst.append(['shri','Ram'])

In [6]:
lst

['abc', 'xyz', 'pqr', 'ijk', ['shri', 'Ram']]

In [8]:
lst[1:]

['xyz', 'pqr', 'ijk', ['shri', 'Ram']]

In [9]:
lst[2:]

['pqr', 'ijk', ['shri', 'Ram']]

In [10]:
lst[1:3]

['xyz', 'pqr']

In [11]:
lst[0:2]

['abc', 'xyz']

In [12]:
lst.pop(2)

'pqr'

In [13]:
lst

['abc', 'xyz', 'ijk', ['shri', 'Ram']]

In [14]:
lst2=[20,30,40,50]

In [18]:
lst2.extend([99,45])

In [19]:
lst2

[20, 30, 40, 50, 99, 45]

In [20]:
lst2 *2

[20, 30, 40, 50, 99, 45, 20, 30, 40, 50, 99, 45]

In [22]:
max(lst2)

99

In [23]:
min(lst2)

20

In [25]:
lst2.count(20)

1

In [30]:
lst2.append([30,40,20,45])

In [31]:
lst2

[20, 30, 40, 50, 99, 45, [30], [30, 40, 20, 45]]

In [32]:
lst2.count(30)

1

In [34]:
lst2.extend([20,30,40])

In [36]:
lst.count(2)

0

lst2

In [37]:
lst2

[20, 30, 40, 50, 99, 45, [30], [30, 40, 20, 45], 20, 30, 40]

In [38]:
lst2.count(20)

2

In [39]:
lst2.count(40)

2

In [40]:
len(lst2)

11

In [41]:
lst1=[11,22,33,44,55]

In [42]:
lst_cpy=lst2

In [43]:
lst_cpy

[20, 30, 40, 50, 99, 45, [30], [30, 40, 20, 45], 20, 30, 40]

In [44]:
lst_cpy.extend([88,99])

In [45]:
lst_cpy

[20, 30, 40, 50, 99, 45, [30], [30, 40, 20, 45], 20, 30, 40, 88, 99]

In [46]:
lst2

[20, 30, 40, 50, 99, 45, [30], [30, 40, 20, 45], 20, 30, 40, 88, 99]

In [47]:
set1={30,40,50,60}

In [48]:
set2={30,40,70,80}

In [49]:
set1.intersection(set2)

{30, 40}

In [51]:
dict={'name':'Kunal','address':'pune','marks':50}

In [52]:
dict

{'name': 'Kunal', 'address': 'pune', 'marks': 50}

In [53]:
dict.values()

dict_values(['Kunal', 'pune', 50])

In [54]:
for x in dict:
    print(x)

name
address
marks

In [55]:
for x in dict.values():
    print(x)

Kunal
pune
50

In [56]:
for x in dict.items():
    print (x)

('name', 'Kunal')
('address', 'pune')
('marks', 50)

In [57]:
lst_tst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]

In [63]:
odd_sum=0
even_sum=0
for i in lst_tst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i

In [64]:
print(odd_sum)

64

In [62]:
print(even_sum)

72

In [67]:
def add_lst(lst) :
    sum=0
    for i in lst:
        print(i)
        sum=sum+i
    return (sum)

In [68]:
add_lst(lst_tst)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

136

In [81]:
def uppercase_count (txt):
    count=1
    for x in txt:
        if x.isupper():
            count = count+1;
    return (count)

In [82]:
ip=input().strip()

Hemantkumar WANI

In [83]:
uppercase_count(ip)

6

In [87]:
ip1=input()

www RRR   TTT eree EEee

In [88]:
uppercase_count(ip1)

9

In [89]:
sqr=lambda x: x*x

In [90]:
sqr(5)

25

In [91]:
lst_sqr=[1,2,3,4,5,6,7,8,9,10]

In [94]:
even_lst=list(filter(lambda x: (x%2==0),lst_sqr))

In [96]:
print(even_lst)

[2, 4, 6, 8, 10]

In [98]:
lst_odd=list(filter(lambda x :(x%2==1),lst_sqr))

In [99]:
lst_odd

[1, 3, 5, 7, 9]

In [105]:
sqr=list(map (lambda x: (x*x) ,lst_sqr))

In [106]:
sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [107]:
lst_sqr

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [108]:
x=(lambda a,b,c:(a*b*c))

In [109]:
print(x(2,3,4))

24

In [110]:
print(float(x(5,6,7)))

210.0

In [111]:
class stud:
    def __init__(self, name, rollno):
        self.name=name
        self.rollno=rollno
    
p1=stud("Hemant", 34)

In [112]:
print(p1.name)

Hemant

In [115]:
def sqr(num):
    return num * num

In [119]:
print(list(map(sqr,lst_tst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]

In [133]:
lst=[1,2,3,4,5,6,7,8,9,10]
square=list(map(lambda x:(x*x),lst))

In [134]:
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [121]:
actual_lst=[10,20,30,40,50]
copied_list=actual_lst[:]

In [122]:
print(actual_lst)

[10, 20, 30, 40, 50]

In [123]:
print(copied_list)

[10, 20, 30, 40, 50]

In [126]:
copied_list.append([70,60])

In [127]:
print(copied_list)

[10, 20, 30, 40, 50, [70, 60]]

In [129]:
print(actual_lst)

[10, 20, 30, 40, 50]

In [130]:
# copying list

copied_list = actual_lst        # This is just copying the reference

copied_list = actual_lst[:]    # make a slice that is the whole list

In [135]:
# destructuring dictionary 

dic={'stud1':'RAM','stud2':'SHYAM','stud3':'KRISH','stud4':'SHIV'}

In [136]:
#individual elements are called as tuples in dictionary
# lets iterate through tuples of dic

for i in dic.items():
    print(i)

('stud1', 'RAM')
('stud2', 'SHYAM')
('stud3', 'KRISH')
('stud4', 'SHIV')

In [137]:
# destructuring  using for

for stud, name in dic.items():
    print(f"{stud}:{name}")

stud1:RAM
stud2:SHYAM
stud3:KRISH
stud4:SHIV

In [146]:
print(dic['stud2'])

SHYAM

In [4]:
def multiply (*args):
  #lets check what exacty we are passing
  print(args)
  #here tuple of tuple we are passing as 'arg' is tuple and we are retreiving results in 'total' which is again tuple. so we are returning tuple.
  total=1
  for arg in args:
      total=total * arg

  return total

def apply(*args, operator):
  if operator=="*":
    return multiply(*args)
  elif operator=="+":
      return sum(*args)
  else:
      return "invalid input OR operator........."


res=apply([2,3,4,5,6],operator="+")
print(res)
res1=apply(2,3,4,5, operator="*")
print(res1)

20
(2, 3, 4, 5)
120